body {
    background-color: black;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.logo_tag{
    margin-top: 5vh;
    color: white;
    font-size: 2em;
    display: flex;
    align-items: center;
    justify-content: center
}

.mockup video {
    position: absolute;
    width: 120vw;
    height: 80vh;
}